/* COMMON */
body, html {
  overflow: hidden;
  background-color: white;
  width: 100vw;
  height: 100vh;
  display: block;
  position: relative;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}


/* МЕНЮ */
.menu {
  z-index: 1000;
}
.logo {
  position: fixed;
  display: flex;
  padding: 8px 9px;
  left: 20px;
  top: 20px;
  background: #FD4E2B;
  border-radius: 8px;
  transition: 0.05s ease-in-out;
}
.logo:hover {
  background: #666666;
  cursor: pointer;
  transition: 0.05s ease-in-out;
}
.logo:active {
  background: #000000;
  cursor: pointer;
  transition: 0.01s ease-in-out;
}
.menu-buttons:hover {
  background: #666666;
  cursor: pointer;
  transition: 0.05s ease-in-out;
}
.menu-buttons:active {
  background: #000000;
  cursor: pointer;
  transition: 0.01s ease-in-out;
}
.menu-center {
  position: fixed;
  display: flex;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
}
.menu-buttons {
  display: flex;
  padding: 8px 10px;
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 82%;
  color: #FFFFFF;
  background: #FD4E2B;
  border-radius: 8px;
  margin-left: 6px;
  transition: 0.05s ease-in-out;
}
.menu-mini-game {
  position: fixed;
  top: 20px;
  right: 20px;
}



/* ГЛАВНАЯ */
.index-h1 {
  position: absolute;
  left: 20px;
  bottom: -6px;
  font-family: 'Helvetica';
  font-size: 720px;
  line-height: 80%;
  letter-spacing: -0.02em;
  color: #FD4E2B;
  white-space: nowrap;
  animation: index-h1-move 12s linear infinite;
}
@keyframes index-h1-move {
  0% {left: 20px}
  100% {left: -4975px}
}



/* КАТАЛОГ */
/* БЛОК1 — КОЛЛЕКЦИИ */
.items-section {
  display: flex;
  flex-direction: column;
  padding: 51px 20px 20px 20px;
  overflow-x: hidden;
}
.items-section1 {
  display: flex;
  flex-direction: row;
  gap: 68px;
  height: calc(50vh - 51px);
  align-items: flex-end;
  /* overflow-y: hidden;
  overflow-x: scroll; */
}
.items-transform-sharp {
  transform: translateX(0);
  transition: transform .8s cubic-bezier(.4,0,.5,1);
}
.items-transform-soft {
  transform: translateX(-735px);
  transition: transform .8s cubic-bezier(.4,0,.5,1);
}
.items-transform-power {
  transform: translateX(-1635px);
  transition: transform .8s cubic-bezier(.4,0,.5,1);
}
.items-transform-air {
  transform: translateX(calc(-3574px + 100vw));
  transition: transform .8s cubic-bezier(.4,0,.5,1);
}
.collection-block {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-end;
  padding-bottom: 28px;
  color: #FD4E2B;
  fill: #FD4E2B;
  transition: 0.05s ease-in-out;
}
.collection-block:hover {
  color: #666666;
  fill: #666666;
  cursor: pointer;
  transition: 0.05s ease-in-out;
}
.collection-block:active {
  color: black;
  fill: black;
  transition: 0.01s ease-in-out;
}
.collection-h1 {
  font-family: 'Helvetica';
  font-size: 140px;
  line-height: 80%;
  white-space: nowrap;
}
.svg-sharp, .svg-soft {
  transition: transform 0.4s cubic-bezier(.4,0,.5,1);
}
.collection-block:hover .svg-sharp, .collection-block:hover .svg-soft {
  transition: transform 0.4s cubic-bezier(.2,0,.3,1);
  transform: rotate(45deg);
}
.collection-block:hover .svg-power {
  animation: 0.6s cubic-bezier(.7,0,.3,1) svg-power-move;
}
.collection-block:hover .svg-air {
  transition: r 0.3s cubic-bezier(.3,0,.2,1);
}
.svg-air {
  transition: r 0.4s cubic-bezier(.3,0,.3,1);
}
.collection-block:hover .svg-air-1 {
  r: 65;
}
.collection-block:hover .svg-air-2 {
  r: 50;
}
.collection-block:hover .svg-air-3 {
  r: 20;
}
.collection-block:hover .svg-air-4 {
  r: 35;
}
.collection-block:hover .svg-air-5 {
  r: 35;
}
@keyframes svg-power-move {
  0% {transform: translateY(0px)}
  40% {transform: translateY(-18px)}
  70% {transform: translateY(14px)}
  100% {transform: translateY(0px)}
}



/* БЛОК2 — ТОВАРЫ */
.items-section2 {
  height: calc(50vh - 20px);
  width: calc(100vw - 40px);
  background-color: #E0E0E0;
  border-radius: 20px;
}
.items {
  border: 12px solid #E0E0E0;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  gap: 12px;
  height: calc(100% - 24px);
}
.item {
  /* display: flex; */
  display: none;
  width: 400px;
  min-width: 400px;
  background-color: white;
  border-radius: 10px;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  animation: items-move 10s linear infinite;
  animation-play-state: running;
  overflow: hidden;
}
.items:hover .item {
  animation-play-state: paused;
}
.item-img {
  height: 100%;
  width: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
}
.item-text {
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 102%;
  color: black;
  z-index: 2;
}
.item-num {
  margin: 16px 0 0 16px;
}
.item-details {
  margin: 0 0 16px 16px;
}
.item-hidden {
  font-family: 'Helvetica';
  font-size: 42px;
  line-height: 90%;
  margin: 0 0 16px 16px;
}
.item:hover {
  cursor: pointer;
  background-color: #666666;
}
.item:active {
  background-color: black;
  transition: 0.01s ease-in-out;
}
.item:hover .item-num, .item:active .item-num{
  color: white;
}
.item:hover .item-details,.item:hover .item-img, .item:active .item-img {
  display: none;
}
.item:hover .item-hidden, .item:active .item-hidden {
  display: block;
}
.item-hidden {
  color: white;
  display: none;
}
.black-color {
  color: black;
  fill: black;
}
.orange-color {
  color: #FD4E2B;
  fill: #FD4E2B;
}
@keyframes items-move {
  0% {transform: translateX(0px);}
  100% {transform: translateX(-2475px);}
}



/* МАГАЗИН */
.guide-selector-section {
  display: flex;
  flex-direction: column;
  padding: 51px 20px 20px 20px;
}
.guide-h1-block {
  display: flex;
  height: calc(50vh - 51px);
  align-items: flex-end;
  font-family: 'Helvetica';
  font-size: 140px;
  line-height: 80%;
  color: #FD4E2B;
}
.guide-h1 {
  padding-bottom: 28px;
}
.guide-selector-block {
  display: flex;
  flex-direction: row;

  height: calc(50vh - 20px);
  width: calc(100vw - 40px);
  gap: 12px;
}
.guide-selector {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: calc(50vh - 20px);
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
.guide-selector-img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.guide-selector-h2 {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: 'Helvetica';
  font-size: 42px;
  line-height: 90%;
  color: white;
  margin: 16px 16px 16px 16px;
}
.guide-selector-text {
  display: flex;
  margin: 16px 16px 16px 16px;
  font-family: 'Helvetica';
  font-size: 18px;
  line-height: 102%;
  color: white;
  max-width: 424px;
}
.guide-selector:hover .guide-selector-img {
  display: none;
}
.guide-selector:hover {
  background-color: #666666;
  cursor: pointer;
}
.guide-selector:active {
  transition: 0.01s ease-in-out;
  background-color: black;
}



/* СОБЫТИЯ */
.posters {
  display: flex;
  flex-direction: row;
  padding: 71px 20px 20px 20px;
  gap: 12px;
}
.poster {
  display: flex;
  border-radius: 10px;
  background-color: #666666;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: background-color 0.01s ease-in-out;
}
.poster-img {
  height: calc(100vh - 91px);
  border-radius: 10px;
}
.text-poster {
  opacity: 0;
  display: flex;
  position: absolute;
  flex-direction: column;
  gap: 20px;
  font-family: 'Helvetica';
  font-size: 42px;
  line-height: 90%;
  color: white;
  margin: 16px 16px 16px 16px;
}
.form {
  opacity: 0;
  display: flex;
  position: absolute;
  bottom: 0;
  flex-direction: column;
  gap: 12px;
  margin: 0 16px 16px 16px;
}
.poster:hover .text-poster, .poster:hover .form {
  opacity: 100;
}
.poster:hover .poster-img {
  opacity: 0;
}
.form-done {
  bottom: 0;
}
.hidden {
  display: none;
}
.visible {
  display: block;
}
.button-poster {
  font-family: 'Helvetica';
  font-size: 42px;
  line-height: 90%;
  color: white;
  opacity: 40%;
}
.button-poster-active {
  opacity: 100%;
  cursor: pointer;
  transition: 0.05s ease-in-out;
}
.button-poster-active:hover {
  opacity: 60%;
  transition: 0.05s ease-in-out;
}
.button-poster-active:active {
  opacity: 40%;
  transition: 0.01s ease-in-out;
}
.form-input {
  font-family: 'Helvetica';
  font-size: 42px;
  line-height: 90%;
  color: white;
  border: none;
  background-color: transparent;
  outline: none;
}
.form-input::-webkit-input-placeholder {
  color: white;
  opacity: 40%;
}
.form-input::-moz-placeholder {
  color: white;
  opacity: 40%;
}
.form-input:-moz-placeholder {
  color: white;
  opacity: 40%;
}
.form-input:-ms-input-placeholder {
  color: white;
  opacity: 40%;
}
.raz {
  -moz-appearance: textfield;
}
.raz::-webkit-inner-spin-button {
  display: none;
}
