/* COMMON */
@media only screen and (max-width: 1023px) {
  .menu-buttons {
    display: none;
  }
  .logo{
    top: auto;
    bottom: 14px;
    left: 14px;
  }
  .menu-mobile {
    display: block;
    position: fixed;
    bottom: 14px;
    right: 14px;
  }
}



/* ГЛАВНАЯ */
@media only screen and (max-width: 1023px) {
  .index-h1 {
    display: none;
  }
  .index-h1-mobile {
    display: block;
    font-size: 220px;
    left: 14px;
    bottom: 60px;
    white-space: normal;
    animation: none;
  }
}
